.map{
    padding: 180px 0;
    position: relative;

    @include mediaTablet{
        padding: 90px 0;
    }

    // Декор элемент
    &::after{
        @include decorNumber;
        z-index: -1;
        top: 180px;
        // 50% - это половина экрана
        // 555 - это полвина контейнра 1110
        right: calc(50% + 555px);
        transform: translate(50%, 0%);
        line-height: 1;
        content: "V";
    }

    & .title-2{
        margin-bottom: 88px;
        @include mediaTablet{
            margin-bottom: 44px;
        }
    }

}

.maps{
    background-color: gray;
    height: 358px;
}