// ШРИФТЫ
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary : 'Roboto', sans-serif;
// ШРИФТЫ

// ЦВЕТА САЙТА
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;
// ЦВЕТА САЙТА

// MEDIA
$tablet: 959px;
// MEDIA